* {
   margin: 0;
   padding: 0;
}

.container {
   width: 100vw;
   height: 100vh;
   background-color: cadetblue;
   display: flex;
   justify-content: center;
   align-items: center;
}

.card {
   width: 350px;
   height: 600px;
   background-color: white;
   border-radius: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 25px;
}

.card img {
   width: 100%;
   height: 200px;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
}

.textBox {

   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 15px;
   width: 75%;
   text-align: center;
}

.amountBox {
   height: 80px;
   width: 80%;
   background-color: rgb(113, 186, 186);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
}

.leftBox {
   /* width: fit-content; */
   height: 100%;
   display: flex;
   gap: 15px;

   align-items: center;
}

.rightBox {}

.imgBox img {
   height: 3.5rem;
   width: 3.5rem;
}

#paymentBtn {
   width: 80%;
   height: 9%;
   padding: 10px;
   border-radius: 20px;
   background-color: darkgreen;
   color: azure;
   font-size: 1.5rem;
   box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.cancelOrder a {
   font-size: 1.3rem;
   text-decoration: none;
   color: rgb(46, 43, 43);
   font-weight: bold;
}